<ion-content class="login-content">
  <div class="login-wrapper">
    <div class="login-card">
      <img src="assets/icon/person-circle-outline.svg" class="avatar" />
      <h2>¡Hola!</h2>
      <h3 class="username">Usuario</h3>

      <ion-item>
        <ion-input type="password" placeholder="Clave +"></ion-input>
        <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
      </ion-item>

      <div class="forgot-password">
        <a href="#">Olvidé mi clave</a>
      </div>

 <ion-button fill="clear" class="fingerprint-btn">
  <img src="assets/icon/finger-print-outline.svg" alt="Huella" class="fingerprint-icon" />
</ion-button>


      <ion-button expand="block" class="continue-btn">Continuar</ion-button>
    </div>
  </div>
</ion-content>
